# Just Django
Django==5.1.2
djangorestframework==3.15.2
requests==2.32.3

# Dependencies for PostgreSQL
psycopg2==2.9.10

# WebSocket + dependencies
channels==3.0.4
channels_redis==4.2.0

# Redis for asynchronous operations
redis==5.1.1